@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.molecules-card-image-container {
  overflow: hidden;
  position: relative;
}

.molecules-card-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.molecules-card-image-label {
  position: absolute;
  right: 0px;
  top: $space-regular;
  padding: $space-small;
  background: $primary;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}
