.organism-modal-loading-container {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh; }

.organism-modal-loading-title {
  margin-top: 0.5rem; }

.organism-modal-loading {
  position: absolute;
  margin: auto;
  width: 70px;
  height: 45px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
