.organism-modal-dialog-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh; }

.organism-modal-dialog {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.organism-modal-dialog-label-title {
  margin-top: 0.5rem; }

.organism-modal-dialog-label-subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.organism-modal-negative-button-dual {
  margin: 0.5rem 0; }

.organism-modal-negative-button-dual-horizontal {
  margin: 0.5rem 0;
  margin-right: 0.5rem; }

.organism-modal-affirmative-button-one {
  margin: 0.5rem 0; }

.organism-modal-affirmative-button-dual {
  margin: 0.5rem 0; }

.organism-modal-affirmative-button-dual-horizontal {
  margin: 0.5rem 0;
  margin-left: 0.5rem; }
