@import "../../../../styles/_responsive.scss";
@import "../../../../styles/_colors.scss";
@import "../../../../styles/_fontstyle.scss";
@import "../../../../styles/_sizes.scss";
.organism-modal-dialog {
}

.organism-modal-dialog-label-title {
  margin-top: $space-small;
}

.organism-modal-dialog-label-subtitle {
  margin-top: $space-small;
  margin-bottom: $space-small;
}

.organism-modal-negative-button-dual {
  margin: $space-small 0;
}

.organism-modal-negative-button-dual-horizontal {
  margin: $space-small 0;
  margin-right: $space-small;
}

.organism-modal-affirmative-button-one {
  margin: $space-small 0

}

.organism-modal-affirmative-button-dual {
  margin: $space-small 0
}

.organism-modal-affirmative-button-dual-horizontal {
  margin: $space-small 0;
  margin-left: $space-small;
}

.organism-modal-dialog-button-close {
}
