@import "../../../../styles/_responsive.scss";
@import "../../../../styles/_colors.scss";
@import "../../../../styles/_fontstyle.scss";
@import "../../../../styles/_sizes.scss";

.organism-modal-dialog-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
}

.organism-modal-dialog {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.organism-modal-dialog-label-title {
  margin-top: $space-small;
}

.organism-modal-dialog-label-subtitle {
  margin-top: $space-small;
  margin-bottom: $space-small;
}

.organism-modal-negative-button-dual {
  margin: $space-small 0;
}

.organism-modal-negative-button-dual-horizontal {
  margin: $space-small 0;
  margin-right: $space-small;
}

.organism-modal-affirmative-button-one {
  margin: $space-small 0

}

.organism-modal-affirmative-button-dual {
  margin: $space-small 0
}

.organism-modal-affirmative-button-dual-horizontal {
  margin: $space-small 0;
  margin-left: $space-small;
}

.organism-modal-dialog-button-close {
}
