@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.organism-sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: $space-medium;
  padding-right: $space-medium;
}

.organism-sign-in-form-id-types-options-dialog {
  width: 300px;
  height: 300px;
}
.organism-sign-in-form-button-cancel {
  width: 50%;
  margin-right: $space-small;
}
.organism-sign-in-form-button-submit {
  width: 50%;
  margin-left: $space-small;
}

.organism-sign-in-form-button-container {
  display: flex;
  flex-direction: row;
  padding-bottom: $space-large;
  width: 40%;
  @include respond-to(handhelds) {
    width: 100%;
  }
  @include respond-to(medium-screens) {
    width: 60%;
  }
}

.organism-sign-in-form-dropdown-text-field {
  width: 40%;
  @include respond-to(handhelds) {
    width: 100%;
  }
  @include respond-to(medium-screens) {
    width: 60%;
  }
  padding-top: $space-medium;
  padding-bottom: $space-small;
}

 .organism-sign-in-form-text-field-id-number {
   width: 40%;
   @include respond-to(handhelds) {
     width: 100%;
   }
   @include respond-to(medium-screens) {
     width: 60%;
   }
   padding-bottom: $space-medium;
 }

 .organism-sign-in-form-text-field-account-number {
   width: 40%;
   @include respond-to(handhelds) {
     width: 100%;
   }
   @include respond-to(medium-screens) {
     width: 60%;
   }
   padding-bottom: $space-medium;
 }

 .organism-sign-in-form-check-box {
   width: 40%;
   @include respond-to(handhelds) {
     width: 100%;
   }
   @include respond-to(medium-screens) {
     width: 60%;
   }
   padding-bottom: $space-medium;
 }
