.organism-sign-in-form {
  display: flex;
  flex-direction: column; }

.organism-sign-in-form-id-types-options-dialog {
  width: 300px;
  height: 300px; }

.organism-sign-in-form-button-container {
  display: flex;
  flex-direction: row; }
