.molecules-modal-dialog {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 4px; }

.molecules-modal-dialog-label-title {
  margin-top: 0.5rem; }

.molecules-modal-dialog-label-subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.molecules-modal-negative-button-dual {
  margin: 0.5rem 0; }

.molecules-modal-negative-button-dual-horizontal {
  margin: 0.5rem 0;
  margin-right: 0.5rem; }

.molecules-modal-affirmative-button-one {
  margin: 0.5rem 0; }

.molecules-modal-affirmative-button-dual {
  margin: 0.5rem 0; }

.molecules-modal-affirmative-button-dual-horizontal {
  margin: 0.5rem 0;
  margin-left: 0.5rem; }
