@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.organism-footer {
  display: flex;
  flex-direction: column;
  padding: $space-medium;
}
.organism-footer-label {
  padding: $space-small;
}
