@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.atoms-label {
  -webkit-appearance: none;
  position: relative;
}

/* level */
.atoms-label-level-h1 {
  @extend %headline;
}

.atoms-label-level-h1-bold {
  @extend %headline-bold;
}

.atoms-label-level-h2 {
  @extend %subheadline;
}

.atoms-label-level-h2-bold {
  @extend %subheadline-bold;
}

.atoms-label-level-body {
  @extend %body-regular;
}

.atoms-label-level-body-bold {
  @extend %body-bold;
}

.atoms-label-level-caption {
  @extend %caption-regular;
}

.atoms-label-level-caption-bold {
  @extend %caption-bold;
}

/* color */
.atoms-label-color-primary {
  color: $primary
}

.atoms-label-color-secondary {
  color: $secondary
}

.atoms-label-color-tertiary {
  color: $tertiary
}

.atoms-label-color-white {
  color: $white
}

.atoms-label-color-black {
  color: $black
}

.atoms-label-color-grey {
  color: $grey
}

.atoms-label-color-light-grey {
  color: $light-grey
}

.atoms-label-color-red {
  color: $red
}
