@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.organism-navigation-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $grey;
}

.organism-navigation-bar-title {
  padding: $space-medium;
}
