.atoms-option {
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center; }

.atoms-option-container-radio {
  position: relative;
  height: 24px;
  width: 24px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #c9c9c9; }

.atoms-option-container-radio-selected {
  position: relative;
  height: 24px;
  width: 24px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #000000; }

.atoms-option-radio {
  display: none; }

.atoms-option-radio-selected {
  color: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px; }

.atoms-option-value {
  margin-left: 1rem; }
