$space1: 1rem;
$space2: 2rem;
$space4: 4rem;
$space8: 8rem;
$space12: 12rem;
$space16: 16rem;
$space24: 24rem;

$space-micro: 0.25rem;
$space-small: 0.5rem;
$space-regular: 1rem;
$space-medium: 1.5rem;
$space-large: 2rem;

$border-radius: 4px;
