@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.atoms-button {
  -webkit-appearance: none;
  display: block;
  cursor: pointer;
  position: relative;
}

/* Size */
.atoms-button-size-none {
  padding: 0;
}

.atoms-button-size-small {
  padding: $space-small $space-regular;
}

.atoms-button-size-medium {
  padding: $space-regular $space-regular;
}

.atoms-button-size-large {
  padding: $space-medium $space-large;
}

/* Theme */
.atoms-button-theme-fill {
  color: $white;
  background: $primary;
  border-style: none;
  border: 2px solid $primary;
  border-radius: 4px;
}

.atoms-button-theme-border {
  color: $black;
  background: transparent;
  border: 2px solid $black;
  border-radius: 4px;
  box-sizing: border-box;
}

.atoms-button-theme-text {
  color: $primary;
  background: transparent;
  border-style: none;
}

.disabled {
  color: $white;
  background: $grey;
  border-color: $grey;
  cursor: default;
  border-radius: 4px;
}
