.molecules-dropdown-text-field-container {
  display: flex;
  flex-direction: column; }

.molecules-dropdown-text-field-misc-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem; }

.molecules-dropdown-text-field {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #000000; }

.molecules-dropdown-text-field-invalid {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #dc3d45; }

.molecules-dropdown-text-field-error {
  padding-top: 1rem; }

.molecules-dropdown-text-field-pseudo {
  position: relative;
  cursor: pointer; }

.molecules-dropdown-text-field-arrow {
  position: absolute;
  right: 1rem;
  top: 30%; }
