@import "../../../styles/_responsive.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_fontstyle.scss";
@import "../../../styles/_sizes.scss";

.molecules-labeled-check-box-label {
  padding-left: $space-small;
  user-select: none;
}

.molecules-labeled-check-box-container {
  cursor: pointer;
}
